@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{

    background:rgba(2, 1, 1, 0.918)
}

.challenge {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    margin-top: 50px;
    text-align: center;
    max-width: 500px;
    background:rgba(44, 43, 43, 0.829);
    height:800px;
    width:500px;
    border-radius: 12px;
}

button a{
    text-decoration: none;
    color: #ffffff;
    /* background-color: rgba(0, 0, 0, 0.5); */
    font-size: 20px;
    font-family: kanit;
}
button a:hover{
    color:#000;
}
button {
    font-family: kanit;
    font-size: 20px;
    color: #fff;
    width: 400px;
    height: 70px;
    margin: 0;
    padding: 0;
    border-radius: 13px;
    background:#353434af ;
    margin-top: 17px;
    border: #b6f114;
    cursor: pointer;
}
button:hover{
    background: #b6f114;
    color: #000;
}
.challenge h1{
    color: #fff;
    font-size: 35px;
    font-family: roboto;
    text-align: center;
}

.challenge h3{
color: #99b354;
    font-size: 16px;
    font-family: kanit;
}

.challenge h4{
color:rgba(255, 255, 255, 0.548);
    font-size: 15px;
    font-family: roboto;
}
.bg {
    border-radius: 50%; /* adds a circular border radius */
    overflow: hidden; /* ensures the image doesn't overflow the circular border */
  }
  
  .bg img {
    width: 100px; /* sets the image width to 100% of the parent container */
    height:100%; /* sets the image height to 100% of the parent container */
    object-fit: cover; /* ensures the image is scaled to cover the entire container */
  }
  @media screen and (max-width:720px){
    .attribution{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

  }
  @media screen and (max-height:890px){

    .attribution{
        display: none;
    }
  }